body {
  background-image: url("./assets/header-mobile-view.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: hsl(225, 17%, 95%);
  color: #3b2df8;
}

.navbar .hamburger {
  display: none;
}

.navbar .nav-menu {
  display: inline-flex;
  list-style: none;
}

.navbar .nav-menu li {
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    background-image: url("./assets/header-mobile-view.png");
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .nav-menu {
    display: none;
  }

  .navbar .hamburger:hover {
    cursor: pointer;
  }

  .navbar .hamburger span {
    width: 10px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    border-radius: 20px;
  }

  .navbar .hamburger span:nth-child(1) {
    transform: rotate(45deg);
  }

  .navbar .hamburger span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .navbar .hamburger:hover span {
    transform: rotate(0);
  }

  .navbar:hover .nav-menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 100;
  }

  .navbar .nav-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }

  .navbar .nav-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }

  .navbar .nav-menu li a:hover {
    background-color: #ccc;
  }

  .navbar .nav-menu li a:active {
    background-color: #bbb;
  }
}

.section2-content {
  position: absolute;
  width: 1440px;
  height: 916px;
  top: 100px;
  margin-left: 10%;
}

.contact-label {
  font-size: large;
  text-decoration: none;
  color: #1b29a7;
}

.my-address-links {
  padding: 10px;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  font-weight: bold;
}

p {
  font-size: 25px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-address-list {
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
  color: #505f79;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
  color: #ccc;
}

.my-logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.my-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 0;
}

.my-description {
  width: 920px;
  height: 98px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
